<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.androidy.thinking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ThinkingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoListActivity"
            android:label="@string/title_activity_my_list" />
        <activity
            android:name=".ThreadPoolDemoActivity"
            android:label="@string/title_activity_thread_pool_demo" />
        <activity
            android:name=".LyricViewActivity"
            android:label="@string/title_activity_lyric_view"></activity>
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather"></activity>
        <activity
            android:name=".CalendarPickerViewActivity"
            android:label="@string/title_activity_calendar_picker_view"></activity>
        <activity
            android:name=".RippleActivity"
            android:label="@string/title_activity_ripple"></activity>
        <activity
            android:name=".BannerActivity"
            android:label="@string/title_activity_banner"></activity>
        <activity
            android:name=".DrawableDemoActivity"
            android:label="@string/title_activity_drawable_demo"></activity>
        <activity
            android:name=".game.pintu.PintuActivity"
            android:label="@string/title_activity_pintu"></activity>
        <activity
            android:name=".ScrollPickerActivity"
            android:label="@string/title_activity_scroll_picker"></activity>
        <activity
            android:name=".MojiGuidepageActivity"
            android:label="@string/title_activity_moji_guidepage"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".CurveActivity"
            android:label="@string/title_activity_curve"></activity>
        <activity
            android:name=".LuckPanActivity"
            android:label="@string/title_activity_luck_pan"></activity>
        <activity
            android:name=".SectorProgressBarActivity"
            android:label="@string/title_activity_sector_progress_bar"></activity>
        <activity
            android:name=".ProgressCylinderActivity"
            android:label="@string/title_activity_progress_cylinder"></activity>
        <activity
            android:name=".WaveViewActivity"
            android:label="@string/title_activity_wave_view"></activity>
        <activity
            android:name=".ColorPhraseActivity"
            android:label="@string/title_activity_color_phrase"></activity>
        <activity
            android:name=".LogDemoActivity"
            android:label="@string/title_activity_log"></activity>
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"></activity>
    </application>

</manifest>
